<div>
  <button mat-button>Click me</button>
  <button mat-raised-button>Click me</button>
  <button mat-flat-button>Click me</button>
  <button mat-stroked-button>Click me</button>
</div>
<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab Icon</button>
  <button mat-mini-fab>Minifab icon</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn -ripple</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
