<mat-form-field class="center"> 
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue"><!--can be multiple choices with multiple keyword-->
        <mat-option>None</mat-option>
        <mat-optgroup label="Web">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
            <mat-option value="ionic">Ionic</mat-option>
            <mat-option value="reactnative">React Native</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
Value: {{selectedValue}}


